[submodule "home/.config/awesome/daze"]
	path = home/.config/awesome/daze
	url = https://github.com/speccy/daze.git
[submodule "home/.config/awesome/vicious"]
	path = home/.config/awesome/vicious
	url = http://git.sysphere.org/vicious
[submodule "home/bin/z"]
	path = home/bin/z
	url = https://github.com/rupa/z.git
[submodule "home/.config/awesome/lain"]
	path = home/.config/awesome/lain
	url = https://github.com/copycat-killer/lain.git
[submodule "home/.config/nvim/bundle/vim-pathogen"]
	path = home/.config/nvim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "home/.config/nvim/bundle/vim-javascript"]
	path = home/.config/nvim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git

