! Fonts
*.font: xft:Source Code Pro:size=10:antialias=true:hinting=true
*.boldFont: xft:Source Code Pro:bold:size=10:antialias=true:hinting=true
*.italicFont: xft:Source Code Pro:italic:size=10:antialias=true:hinting=true
*.boldItalicFont: xft:Source Code Pro:bolditalic:size=10:antialias=true:hinting=true

! rxvt-unicode
URxvt*termName: rxvt-256color
URxvt*geometry: 120x44
URxvt*resource: $HOME/.Xresources
URxvt*iconName: urxvt
hold: false

! urxvt specific colors
urxvt*background: black
urxvt*foreground: #F8F5F0
URxvt*depth: 32
URxvt*buffered: true
URxvt*intensityStyles: true
URxvt*colorBD: 11
URxvt*colorIT: 13
URxvt*colorUL: 12
!URxvt*underlineColor: 12
!URxvt*fading: 0
!URxvt*fadeColor: 0

! Cursor
URxvt*cursorColor: 10
URxvt*cursorColor2: 0
URxvt*cursorBlink: false
URxvt*cursorUnderline: false

! Border
URxvt*borderColor: 0
URxvt*internalBorder: 0
URxvt*externalBorder: 0
URxvt*borderLess: false

! Scrollbar style
URxvt*scrollstyle: plain

! Do not scroll with output
URxvt*scrollTtyOutput: false

! Scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! Scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true
URxvt*mousewheel: true

! Perl
URxvt*perl-ext-common: default,vtwheel

! Tabs with names
URxvt*tabbed.new-button: false
URxvt*tabbed.title: false
URxvt*tabbed.tabbar-fg: 7
URxvt*tabbed.tabbar-bg: 8
URxvt*tabbed.tab-fg: 8
URxvt*tabbed.tab-bg: 7

! Remove weird behavior when pressing ctrl-shift
URxvt*iso14755: false
