! Fonts
*.font: xft:Source Code Pro:size=10:antialias=true:hinting=true
*.boldFont: xft:Source Code Pro:bold:size=10:antialias=true:hinting=true
*.italicFont: xft:Source Code Pro:italic:size=10:antialias=true:hinting=true
*.boldItalicFont: xft:Source Code Pro:bolditalic:size=10:antialias=true:hinting=true

! rxvt-unicode
URxvt*termName: rxvt-256color
URxvt*geometry: 120x44
URxvt*resource: $HOME/.Xresources
URxvt*iconName: urxvt
hold: false

! urxvt specific colors
urxvt*background: black
urxvt*foreground: #F8F5F0
URxvt*depth: 32
URxvt*buffered: true
URxvt*intensityStyles: true
URxvt*colorBD: 11
URxvt*colorIT: 13
URxvt*colorUL: 12
!URxvt*underlineColor: 12
!URxvt*fading: 0
!URxvt*fadeColor: 0

! Cursor
URxvt*cursorColor: 10
URxvt*cursorColor2: 0
URxvt*cursorBlink: false
URxvt*cursorUnderline: false

! Border
URxvt*borderColor: 0
URxvt*internalBorder: 0
URxvt*externalBorder: 0
URxvt*borderLess: false

! Scrollbar style
URxvt*scrollstyle: plain

! Do not scroll with output
URxvt*scrollTtyOutput: false

! Scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! Scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true
URxvt*mousewheel: true

! Perl
URxvt*perl-ext-common: default,vtwheel,resize-font

! Change font size
URxvt.resize-font.smaller: C-Down
URxvt.resize-font.bigger: C-Up


! Tabs with names
URxvt*tabbed.new-button: false
URxvt*tabbed.title: false
URxvt*tabbed.tabbar-fg: 7
URxvt*tabbed.tabbar-bg: 8
URxvt*tabbed.tab-fg: 8
URxvt*tabbed.tab-bg: 7

! Remove weird behavior when pressing ctrl-shift
URxvt.iso14755: false
URxvt.iso14755_52: false

#define base00 #0c0d0e
#define base01 #2e2f30
#define base02 #515253
#define base03 #737475
#define base04 #959697
#define base05 #b7b8b9
#define base06 #dadbdc
#define base07 #fcfdfe
#define base08 #e31a1c
#define base09 #e6550d
#define base0A #dca060
#define base0B #31a354
#define base0C #80b1d3
#define base0D #3182bd
#define base0E #756bb1
#define base0F #b15928

*.foreground:   base05
*.background:   base00
*.cursorColor:  base05

*.color0:       base00
*.color1:       base08
*.color2:       base0B
*.color3:       base0A
*.color4:       base0D
*.color5:       base0E
*.color6:       base0C
*.color7:       base05

*.color8:       base03
*.color9:       base08
*.color10:      base0B
*.color11:      base0A
*.color12:      base0D
*.color13:      base0E
*.color14:      base0C
*.color15:      base07

*.color16:      base09
*.color17:      base0F
*.color18:      base01
*.color19:      base02
*.color20:      base04
*.color21:      base06
